.layout {
  display: flex;
  flex-direction: column;
  width: @w-full;
  max-width: @w-xl;
  margin: 0 auto;
  padding: @w-8 @w-6;

  @media (min-width: @w-md) {
    flex-direction: row;
    gap: @w-12;
  }

  &__aside {
    @media (min-width: @w-md) {
      top: @w-24;
      width: @w-full;
      max-width: @w-72;
      position: sticky;
      align-self: flex-start;
    }
  }

  &__content {
    flex: 1 auto;
    padding-bottom: @w-4;
  }
}
