.grid {
  display: flex;
  flex-direction: column;
  gap: @w-6;
  margin-bottom: @w-16;

  &__list {
    display: grid;
    gap: @w-6;
    grid-template-columns: repeat(auto-fill, minmax(@w-36, 1fr));

    @media (min-width: @w-md) {
      grid-template-columns: repeat(auto-fill, minmax(@w-44, 1fr));
    }
  }
}
