@button__border-width: @bw-1;
@button__border-color: transparent;
@button__border-radius: @br-base;
@button__color: @c-white;
@button__cursor--default: pointer;
@button__cursor--disabled: not-allowed;

.button {
  font-family: inherit;
  display: flex;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: @button__border-width solid @button__border-color;
  border-radius: @button__border-radius;
  cursor: @button__cursor--default;
  padding: @w-3 @w-6;
  color: @button__color;
  font-weight: @fw-bold;
  text-decoration: none;
  transition: background 0.3s;
  background: @c-green-dark;
  text-transform: uppercase;
  gap: @w-1;
  background-image: linear-gradient(
    to right,
    @c-green-light 0%,
    @c-green-dark 100%
  );
  background-size: 200% auto;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: @button__color;
    background-position: right center;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:active {
    background-image: none;
    color: @button__color;
    box-shadow: none;
  }

  &:disabled,
  &.is-disabled {
    cursor: @button__cursor--disabled;
    opacity: 0.5;
    box-shadow: none;
  }

  &--outline {
    background: @c-white;
    border-color: @c-blue-dark;
    color: @c-blue-dark;

    &:hover,
    &:focus {
      background: rgba(@c-gray-light, 0.5);
      color: @c-blue-dark;
    }
  }

  &--center {
    margin: 0 auto;
  }

  &--sm {
    padding: @w-2 @w-3;
    font-size: @fs-sm;
  }

  & > svg {
    width: @w-4;
    height: @w-4;
    fill: none;
    stroke: currentColor;
  }
}
