@ff-base: "Roboto", sans-serif;

@fs-xs: 0.625rem; /* 10px */
@lh-xs: 1.125rem; /* 18px */

@fs-sm: 0.875rem; /* 14px */
@lh-sm: 1.25rem; /* 20px */

@fs-md: 1rem; /* 16px */
@lh-md: 1.5rem; /* 24px */

@fs-lg: 1.125rem; /* 18px */
@lh-lg: 1.75rem; /* 28px */

@fs-xl: 1.25rem; /* 20px */
@lh-xl: 1.75rem; /* 28px */

@fw-regular: 400;
@fw-bold: 700;
